* {
  margin: 0;
  padding: 0;
}

.square {
  cursor: crosshair;
  background-color: #fff;
  border: 3.5px solid #999;
  float: left;
  font-size: 5rem;
  font-weight: bold;
  line-height: 4rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 6.2rem;
  height: 6.2rem;
}

h5 {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-left: 10px;
  font-size: 2.5rem;
}


.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.body-light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #d3d3d3;
  font-size: 2.1rem;
}

.body-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  font-size: 2.1rem;
}

.Red {
  background-color: red;
}

.Again {
  cursor: crosshair;
  position: absolute;
  font-weight: bold;
  font-size: 1.5rem;
  width: 5rem;
  height: 4rem;
  background-color: rgb(252, 73, 73);
  color: rgb(0, 0, 0);
  margin-top: 6rem;
}

.Again:hover {
  background-color: rgb(255, 5, 5);
}

.btn-again {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 10%;
  background-color: #d3d3d3;
  color: black;
  font-weight: bold;
  cursor: pointer;

}

.dark {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 10%;
  background-color: #222;
  color: white;
  font-size: 30px;
  cursor: pointer;

}

.body-dark,.body-light{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.interface{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  gap:10rem;
}
.not-allowed{
  cursor: not-allowed;
}

#leave-btn {
  position: absolute; /* Change to "fixed" for element to stick to viewport */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgb(138, 135, 131);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;

}

#leave-btn:hover {
  background-color: rgb(85, 83, 81);
}

.popup-leave{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(223, 223, 223);
  width: 750px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.popup-leave h1{
  font-size: 50px;
  font-weight: bold;
}

.popup-leave p{
  font-size: 30px;
  font-weight: bold;
}